color status green default

  set from      = "YOU@YOURDOMAIN.COM"
  set sendmail  = "/usr/local/bin/msmtp -a YOUR_MSMTP_ACCOUNT" # Found in: ~/.dotfiles/mail/msmtprc.symlink.example
  set mbox      = "+YOUR_MSMTP_ACCOUNT/all_mail"
unset record
  set postponed = "+YOUR_MSMTP_ACCOUNT/drafts"

macro index ,a "<change-folder>+YOUR_MSMTP_ACCOUNT/all_mail<return>" "switch to all_mail folder"
macro index ,d "<change-folder>+YOUR_MSMTP_ACCOUNT/drafts<return>" "switch to drafts folder"
macro index ,s "<change-folder>+YOUR_MSMTP_ACCOUNT/sent_mail<return>" "switch to sent_mail folder"
macro index ,j "<change-folder>+YOUR_MSMTP_ACCOUNT/spam<return>" "switch to sent_mail folder"
macro index ,t "<change-folder>+YOUR_MSMTP_ACCOUNT/trash<return>" "switch to trash folder"

macro index D "<save-message>+YOUR_MSMTP_ACCOUNT/trash<enter>" "move message to the trash"
macro index S "<save-message>+YOUR_MSMTP_ACCOUNT/spam<enter>"  "mark message as spam"
